#mainError {
    padding: 195px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
}

#mainError h1 {
    font-size: 96px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align:justify;
}

#texteContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

#mainError p {
    font-size: 18px;
    font-weight: 500;
}

#backHomeLink {
    padding: 133px 0 235px 0;
    font-size: 14px;
    color:#FF6060;
}

@media (min-width: 768px) {
    #mainError h1 {
        font-size: 180px;
        font-weight: 600;
    }

    #mainError p {
        font-size: 25px;
    }

    #backHomeLink {
        padding: 130px 0 235px 0;
        font-size: 18px;
    }
}

@media (min-width: 1440px){
    #mainError {
        padding: 174px 0 0 0;
    }
    
    #mainError h1 {
        font-size: 288px;
        font-weight: 700;
    }

    #mainError p {
        font-size: 36px;
    }

}