footer {
    color: #FFF;
    margin: 50px 0 0 0;
    position: relative;
    height: 209px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 28.56px;
    font-size: 12px;
}



@media (min-width: 1440px) {
    footer {
        font-size: 24px;
    }
}