header {
    max-width: 1240px;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.link {
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF6060;
}

.link:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    header {
        margin: 40px 0 0 0;
    }

    header nav {
        gap: 57px;
        height: 34px;
    }

    .link {
        font-size: 19px;
    }
}

@media (min-width: 1440px) {
    header {
        align-items: center;
        height: 68px;
    }


    .link {
        font-size: 24px;
    }

}
