.cardContainer {
    max-width: 1240px;
    padding: 22px 0 56px 0;
    background-color: none;
    border-radius: 25px;
}

.cardCenterContainer {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    column-gap: 22px;
    row-gap: 22px;
}

@media (min-width: 768px) {
    .cardContainer {
        padding: 22px 0 56px 0;
    }
}

@media (min-width: 1440px) {
    .cardContainer {
        display: flex;
        justify-content: center;
        padding: 56px 0 56px 0;
        background-color: #F7F7F7;
    }
    .cardCenterContainer {
        width: 1140px;
        column-gap: 60px;
        row-gap: 50px;
    }
}

@media (min-width: 1441px) {
    .cardContainer {
        margin-top: 43px;
    }
}